SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://stockpulse:stockpulse@localhost:5432/stockpulse
REDIS_URL=redis://localhost:6379/0
POSTGRES_DB=stockpulse
POSTGRES_USER=stockpulse
POSTGRES_PASSWORD=stockpulse
WS_PORT=8081
JWT_SIGNING_KEY=CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_BROKER_URL=redis://localhost:6379/1