# Python
__pycache__/
*.pyc
venv/
*.egg-info/
.env
venv

# Django
db.sqlite3
staticfiles/
media/

# Node
node_modules/
npm-debug.log*
.env.local

# React / Vite build
frontend/dist/

# Docker
*.env
docker-compose.override.yml

# Editors / OS
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Claude
.claude